@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400&display=swap');

$font--primary: 'Roboto', sans-serif;
$color--blue: #007bff;
$color--black: #111111;
$color--white: #ffffff;
$color--grey: #747474;
$color--light-grey: #fbfbfb;
$borderRadius: 4px;
$boxShadow: 0px 6px 12px rgba(0, 0, 0, 0.08);
